/*
Estils Bàsics (styles.css)
» Afegeix estils CSS per donar una aparença professional i funcional a la teva aplicació. Hauries de pensar en:
Estils globals per al body (tipografia, amplada màxima, marges, etc.).
Estils per ocultar elements (.hidden).
Estils per als controls (.controls), incloent flexbox per a l'alineació.
Estils per al contenidor principal (.container).
Estils per l'indicador de càrrega (#loading) i els missatges d'error (#error).
Estils per la visualització dels resultats (#results), utilitzant CSS Grid per a una disposició en columnes adaptable (grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))).
Estils per a les "targetes" individuals de dades (.card), incloent-hi vores, ombres, padding i un efecte de :hover.
Estils per als botons de paginació (.pagination button), incloent l'estat :disabled.
*/

@font-face {
    font-family: "Montserrat Regular";
    src: url(./src/fonts/Montserrat-Regular.woff);
}

@font-face {
    font-family: "Montserrat Light";
    src: url(./src/fonts/Montserrat-Light.woff);
}

@font-face {
    font-family: "Montserrat Medium";
    src: url(./src/fonts/Montserrat-Medium.woff);
}

:root {
    --color-primary: #6771df;
    --color-secondary: #f1ff88;
    --color-white: #FFFFFF;
    --color-black: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--color-secondary);
    font-family: "Montserrat Regular";
}

.hidden{
    display: none !important;
}

h1{
    width: 100%;
    padding: 20px;
    font-family: "Montserrat Regular";
}

.search-row{
    width: 100%;
    height: auto;
    padding: 20px;
    gap: 10px;
}




