/*
Estils Bàsics (styles.css)
» Afegeix estils CSS per donar una aparença professional i funcional a la teva aplicació. Hauries de pensar en:
Estils globals per al body (tipografia, amplada màxima, marges, etc.).
Estils per ocultar elements (.hidden).
Estils per als controls (.controls), incloent flexbox per a l'alineació.
Estils per al contenidor principal (.container).
Estils per l'indicador de càrrega (#loading) i els missatges d'error (#error).
Estils per la visualització dels resultats (#results), utilitzant CSS Grid per a una disposició en columnes adaptable (grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))).
Estils per a les "targetes" individuals de dades (.card), incloent-hi vores, ombres, padding i un efecte de :hover.
Estils per als botons de paginació (.pagination button), incloent l'estat :disabled.
*/

@font-face {
    font-family: "Montserrat Regular";
    src: url(./src/fonts/Montserrat-Regular.woff);
}

@font-face {
    font-family: "Montserrat Light";
    src: url(./src/fonts/Montserrat-Light.woff);
}

@font-face {
    font-family: "Montserrat Medium";
    src: url(./src/fonts/Montserrat-Medium.woff);
}

:root {
    --color-primary: #272e7c;
    --color-secondary: #f1ff88;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-grey: #e1e1e1;
    --color-red: #d43030;
    --color-red-1: #ffd1d1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--color-white);
    font-family: "Montserrat Regular";
}

.hidden{
    display: none !important;
}

h1{
    width: 100%;
    padding: 20px;
    font-family: "Montserrat Regular";
}

.search-row{
    width: 100%;
    height: auto;
    padding: 20px;
    gap: 10px;
}

#selection-id{
    background: var(--color-white);
    font-family: "Montserrat Regular";
    padding: 5px;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
}

#search-input-id{
    background: var(--color-white);
    font-family: "Montserrat Regular";
    padding: 5px;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
}

#search-btn-id{
    background: var(--color-secondary);
    color: var(--color-black);
    font-family: "Montserrat Regular";
    padding: 5px;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    cursor: pointer;
}

#result-api-id{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 20px;
    gap: 20px;
}

.spinner{
    display: block;

}

#error-message-id{
    width: 80%;
    height: 30px;
    display: flex;
    align-items: center;
    background: var(--color-red-1);
    border-radius: 10px;
    border: 1px solid var(--color-red);
    margin: 20px;
    padding: 20px;
}

.card{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card-body{
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    background: var(--color-secondary);
    padding: 20px;
    gap: 20px;
    border-radius: 5px;
}

.card-body:hover{
    box-shadow: 0px 0px 20px var(--color-primary);
}

#pages-id{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 20px;
}

#pagination-id button{
    background-color: var(--color-white);
    color: var(--color-primary);
    border: none;
    margin: 5px;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}

#pagination-id button:disabled{
    color: var(--color-secondary);
    background: var(--color-primary);
    border: none;
}

#btn__arrow-left, #btn__arrow-right{
    background-color: var(--color-white);
    color: var(--color-primary);
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}

